<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- ตรวจสอบการล็อกอินและแสดงลิงก์ -->
    <div>
      <% if session[:user_id] %>
        <%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to 'Login', login_path, class: "btn btn-primary" %>
      <% end %>
    </div>

    <!-- ส่วนของ content หลัก -->
    <%= yield %>
  </body>
</html>
